In [1]:
import logging
import os

from sqlalchemy import create_engine, text

In [2]:
# Log SQL queries using Python logging (optional)
# see https://docs.sqlalchemy.org/en/14/core/engines.html#configuring-logging
logging.basicConfig()
logging.getLogger('sqlalchemy.engine').setLevel(logging.INFO)

First, obtain your connection URI from the environment to avoid storing credentials in Jupyter notebooks. The structure is

```
dialect+driver://username:password@host:port/database
```

(see [the SQLAlchemy docs](https://docs.sqlalchemy.org/en/14/core/engines.html#database-urls) for more information)

In [3]:
# uri = os.environ.get("POSTGRES_URI")
uri = "sqlite:///"  # In-memory SQLite database
uri

'sqlite:///'

You can use this connection URI to create an `Engine`:

In [4]:
engine = create_engine(uri)
engine

Engine(sqlite:///)

Use `with engine.connect()` to create a `Connection` object that can execute SQL statements:

In [5]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT 1"))
    for row in result:
        print(row)

INFO:sqlalchemy.engine.Engine:SELECT 1

INFO:sqlalchemy.engine.Engine:[generated in 0.00107s] ()

(1,)

<div class="alert alert-info">Notice that <a href="https://docs.sqlalchemy.org/en/14/core/connections.html#connectionless-execution-implicit-execution">"connectionless" execution is deprecated</a>!</div>

To do a more interesting example, you can create a table inside a transaction block and then query such table:

In [6]:
with engine.connect() as connection:
    with connection.begin():
        connection.execute(text("CREATE TABLE IF NOT EXISTS users (id serial primary key, name varchar, email varchar)"))
        connection.execute(text("""INSERT INTO
            users (id, name, email)
            VALUES 
            (1, 'John', 'john@example.com'),
            (2, 'Jane', 'jane@example.com'),
            (3, 'Jake', 'jake@external.com')
            """
        ))

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:CREATE TABLE IF NOT EXISTS users (id serial primary key, name varchar, email varchar)

INFO:sqlalchemy.engine.Engine:[generated in 0.04217s] ()

INFO:sqlalchemy.engine.Engine:INSERT INTO
            users (id, name, email)
            VALUES
            (1, 'John', 'john@example.com'),
            (2, 'Jane', 'jane@example.com'),
            (3, 'Jake', 'jake@external.com')

INFO:sqlalchemy.engine.Engine:[generated in 0.00059s] ()

INFO:sqlalchemy.engine.Engine:COMMIT

In [7]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM users WHERE email LIKE '%example.com'"))
    for row in result:
        print(f"({row['id']}) {row['name']}, {row['email']}")

INFO:sqlalchemy.engine.Engine:SELECT * FROM users WHERE email LIKE '%example.com'

INFO:sqlalchemy.engine.Engine:[generated in 0.00085s] ()

(1) John, john@example.com
(2) Jane, jane@example.com